<section>
  <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-width-large">
    <h1>Editando <%= singular_table_name.titleize %></h1>
    <hr>
    <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
  </div>
</section>
