<section>
  <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-width-large">
    <h1>Creando Categoría</h1>
    <%= link_to 'Volver', categories_path, class: "uk-button uk-button-link" %>

    <hr>
    <%= render 'form', category: @category %>
  </div>
</section>
